/* Error: Undefined variable.
 *   ,
 * 4 | $backgroundWdith: ($gridColumnWidth * $columnCount) + ($columnCount - 1)* 10 + 24px;
 *   |                    ^^^^^^^^^^^^^^^^
 *   '
 *   scss\media-575px.scss 4:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502  $backgroundWdith: ($gridColumnWidth * $columnCount) + ($columnCount - 1)* 10 + 24px;\d\a   \2502                     ^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\media-575px.scss 4:20  root stylesheet";
}
